<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/gallery/">Gallery</a>
        </li>
        <li>
          <a href="/viewPortal/">My Images</a>
        </li>
      </ul>
    </nav>
  </body>
</html>