<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add Image</h1>
    <form action="assignImage" method="POST">
      <input type="text" name="imageURL" placeholder="imageURL" required>
      <input type="text" name="tags" placeholder="tags" required>
      <input type="submit">
    </form>
  </body>
</html>